.who-we-serve-section {
  padding: 55px 75px;
  display: flex;
  gap: 50px;
}

/* Left Section  */
.left-image-section {
  width: 50%;
}
.left-image {
  position: absolute;
  width: 500px;
  border: 1px solid #000000;
}

.new-d {
  width: 500px;
  height: 500px;
  background-color: #00000073;
  rotate: 5deg;
}

/* Right Section  */

.right-text-section {
  width: 50%;
}

.main-heading {
  font-size: 50px;
  font-weight: bold;
}

.sub-heading {
  font-size: 18px;
}

.serve-details-section {
  display: flex;
}

.details-heading {
  font-size: 27px;
  font-weight: 900;
  z-index: 1;
}

.details-heading::after {
  content: "";
  border-bottom: 10px solid #f8050573;
  display: block;
  width: 100px;
  position: relative;
  top: -10px;
  z-index: 0;
}

@media (max-width: 1024px){
    .serve-details-section{
        flex-direction: column;
    }
}

@media (max-width: 900px) {
  .who-we-serve-section {
    flex-direction: column;
    padding: 50px 75px;
    align-items: left;
  }
  .left-image {
    position: absolute;
    width: 250px;
    height: 250px;
    border: 1px solid #000000;
  }
  .new-d{
    width: 250px;
    height: 250px;
  }
  .right-text-section {
    width: 100%;
  }
}

@media (max-width: 700px) {
    .serve-details-section{
        flex-direction: column;
    }
}
