.header{
  display: flex;
  justify-content: space-between;
  background-color: #257CFF;
  color: #ffffff;
  padding: 5px 75px;
  align-items: center;
}

.logo{
  font-size: 28px;
  font-weight: 700;
  padding: 5px 0px;
}

.nav-bar{
  width: 50%;
}

.nav-bar-list{
  display: flex;
  justify-content: space-between;
}

.nav-bar-list > .nav-list-items{
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.mobile-menu{
  display: none;
}

@media (max-width: 690px) {
  .header{
    padding: 10px 75px;
  }
  .nav-bar-list{
    display: none;
  }
  .mobile-menu{
    display: block;
    cursor: pointer;
    font-size: 20px;
  }
  .mobile-nav{
    position: absolute;
    color: #000;
    z-index: 999;
    background-color: #ffffff;
    height: calc(100% - 50px);
    width: 200px;
    top: 0;
    right: 0px;
  }
  .mobile-nav-items{
    list-style-type: none;
    font-size: 18px;
    padding: 10px 5px;
  }
  .cancle-icon{
    position: relative;
    float: right;
    margin-top: 10px;
  }
}