/* styles/globals.css */



  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 20px;
  }

  .footer-upper-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  
  .footer-section {
    width: 100%;
    max-width: 400px;
    margin: 20px 15px;
    text-align: left;
  }
  
  .footer-section h3 {
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .footer-section p, .footer-section a {
    font-size: 14px;
    line-height: 2;
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-icons svg {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .footer-bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .footer-links a {
    font-weight: 500;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  

  @media(max-width:650px){
    .footer{
        justify-content: center;
        align-items: center;
    }
    
  .footer-upper-section {
    flex-direction: column;
    }

    .footer-section{
        text-align: center;
    }

    .footer-bottom{
        flex-direction: column;
        align-items: center;
    }
  }